.root {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.modalContainer {
  background: #ffffff;
  width: 90%;
  max-width: 1024px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.backdropContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.modalHeader {
  display: flex;
  height: 68px;
  background-color: #000000;
  border-bottom: 1px solid #eaeaea;
  align-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  padding: 0 24px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  justify-content: center;
}

.close {
  right: 20px;
  top: 16px;
  position: absolute;
  float: right;
  cursor: pointer;
  white-space: nowrap;
  z-index: 1;
}

.close img {
  width: 34px;
  height: 34px;
}

.codeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.code {
  width: 393px;
  height: 60px;
  border: solid 2px #eaa300;
  background-color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 5.09px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyBtn {
  width: 160px;
  height: 60px;
  background-color: #eaa300;
  font-size: 21px;
  font-weight: 600;
  color: #000000;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.redeemBtn {
  width: 312px;
  height: 60px;
  background-color: #000000;
  margin-top: 80px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 3px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 760px) {
  .close img {
    width: 24px;
    height: 24px;
  }

  .redeemBtn {
    width: 240px;
    height: 48px;
    margin-top: 40px;
    font-size: 18px;
  }

  .modalHeader {
    font-size: 20px;
    height: 54px;
    padding: 0 16px;
  }

  .code {
    width: 240px;
    height: 48px;
    font-size: 18px;
    letter-spacing: 3px;
  }

  .copyBtn {
    width: 100px;
    height: 48px;
    font-size: 16px;
  }

  .modalBody {
    height: 280px;
  }
}
