.root {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.modalContainer {
  background: #ffffff;
  width: 90%;
  max-width: 1024px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.backdropContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.modalBody {
  display: flex;
  flex-direction: column;
  height: 413px;
  align-items: center;
  justify-content: center;
}

.close {
  right: 20px;
  top: 16px;
  position: absolute;
  float: right;
  cursor: pointer;
  white-space: nowrap;
  z-index: 1;
}

.close img {
  width: 34px;
  height: 34px;
}

.tryTxt {
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.okBtn {
  width: 312px;
  height: 60px;
  background-color: #000000;
  margin-top: 70px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 3px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 760px) {
  .close img {
    width: 28px;
    height: 28px;
  }

  .tryTxt {
    font-size: 22px;
  }

  .modalBody {
    height: 300px;
    text-align: center;
  }

  .okBtn {
    width: 280px;
    height: 48px;
    margin-top: 50px;
    font-size: 20px;
  }
}
