.container {
  width: 100%;
  height: 100%;
}

.mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/images/bg-lg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: cover; */

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mainContent::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

.contentWrapper {
  width: 100%;
  height: 100%;
  padding: 2rem 8rem;
  /* max-width: 1440px; */
}

.logoWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 2rem; */
}

.pubgLogo {
  width: 92px;
  height: 68px;
}

.doritosLogo {
  width: 174px;
  height: 137px;
}

.banner {
  display: flex;
  justify-content: center;
  margin-top: 26px;
  position: relative;
}

.bannerImg {
  width: 100%;
  height: auto;
}

.freeItemTxt {
  display: flex;
  justify-content: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  /* padding-top: 20px; */
  font-size: 28px;
  font-weight: 500;
  line-height: 1.29;
  text-align: center;
  color: #e8ac18;
}

.mainTxtWrapper {
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
  margin-top: 8px;
}

.mainTxt {
  width: 100%;
  padding: 40px 56px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
}

.highlightTxt {
  color: #e8ac18;
  font-size: 36px;
}

.dateTxt {
  font-size: 32px;
  font-weight: 300;
  margin-top: 20px;
}

.noteWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.note {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
}

.topTxt {
  padding-bottom: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.footer img {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .mainContent {
    background-image: url("/images/bg-md.png");
  }

  .contentWrapper {
    padding: 1rem 2rem;
  }

  .pubgLogo {
    width: 85px;
    height: 63px;
  }

  .doritosLogo {
    width: 149px;
    height: 117px;
  }
}

@media (max-width: 760px) {
  .mainContent {
    background-image: url("/images/bg-sm.png");
  }

  .contentWrapper {
    padding: 1rem 1rem;
  }

  .pubgLogo {
    width: 40px;
    height: 30px;
  }

  .doritosLogo {
    width: 66px;
    height: 52px;
  }

  .banner {
    margin-top: 40px;
  }

  .freeItemTxt {
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 15px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.25;
  }

  .mainTxtWrapper {
    padding: 0;
    margin-top: 8px;
  }

  .mainTxt {
    padding: 24px 16px;
    border-radius: 14px;
    font-size: 20px;
    line-height: 1.27;
  }

  .highlightTxt {
    font-size: 20px;
  }

  .dateTxt {
    font-weight: 300;
    font-size: 20px;
    margin-top: 16px;
  }

  .note {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
  }

  .footer {
    padding: 0;
    margin-top: 16px;
    padding-bottom: 8px;
  }
}
