.howToBuy {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
}

.howToBuyImgWrapper {
  margin: 0px 7px;
}

.howToBuyImgWrapper img {
  width: 48px;
  height: 48px;
  margin: 0px 10px;
}

@media (max-width: 1024px) {
  .howToBuy {
    right: 0rem;
  }
}

@media (max-width: 760px) {
  .howToBuy {
    font-size: 10px;
    bottom: -0.5rem;
    right: 0rem;
  }

  .howToBuyImgWrapper img {
    width: 24px;
    height: 24px;
    margin: 0px 1.5px;
  }
}
