.redeem {
  padding-top: 35px;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redeem span {
  margin-top: 16px;
}

.redeemWrapper {
  display: flex;
  flex-direction: row;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redeemWrapper button {
  margin-left: 8px;
  font-family: inherit;
  border: 0;
  padding: 0;
  width: 124px;
  height: 48px;
  border-radius: 7px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.78px;
  color: #ffffff;
  cursor: pointer;
}

.redeemWrapper button:disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: #cccccc;
  cursor: unset;
}

.recaptchaWrapper {
  margin-left: 20px;
}

.inputWrapper input {
  font-family: inherit;
  border: 0;
  margin-left: 24px;
  margin-bottom: 8px;
  padding: 10px;
  text-align: center;
  width: 360px;
  height: 48px;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  color: #000000;
}

.inputWrapper input:-webkit-input-placeholder {
  color: #bbbbbb;
  font-size: 18px;
}

.inputWrapper input::placeholder {
  color: #bbbbbb;
  font-size: 18px;
}

@media (max-width: 760px) {
  .redeem {
    padding-top: 14px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .redeem span {
    margin-top: 0;
  }

  .redeemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recaptchaWrapper {
    margin-left: 0;
    margin-bottom: 6px;
  }

  .inputWrapper input {
    margin: 8px 0;
    width: 100%;
    font-size: 18px;
    height: 40px;
    border-radius: 4px;
  }

  .redeemWrapper button {
    margin: 0;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
  }
}
